<p>Buildings form</p>

<!--Form start-->
<form [formGroup]="controlsGroup"> 
    <p>Specify the id only in case of select, update or delete</p>
    <mat-form-field>
        <input matInput placeholder="id" [formControl]="id" name="id">
    </mat-form-field>   
    <br> 
    <mat-form-field>
        <input matInput placeholder="Description" [formControl]="description" name="description">
    </mat-form-field>  
    <br>  
    <mat-form-field>
        <input matInput placeholder="Area" [formControl]="area" name="area">
    </mat-form-field> 
    <br>
    <mat-form-field>
        <input matInput placeholder="Geometry WKT" [formControl]="geom" name="geom">
    </mat-form-field> 
    <!-- -->
    <br>
    <button  matTooltip="Insert" mat-raised-button [disabled]="!controlsGroup.valid" (click)="insert()">Insert</button>
    <button  matTooltip="Delete" (click)="insert()">Delete</button>
    <button  matTooltip="Update" (click)="insert()">Update</button>
    <button  matTooltip="Select" (click)="select()">Select</button>
</form>

