<p>Buildings form</p>

<!--Form start-->
<form [formGroup]="controlsGroup"> 
    <p>Specify the id only in case of select, update or delete</p>
    <mat-form-field>
        <input matInput placeholder="id" [formControl]="id" name="id">
    </mat-form-field>   
    <br> 
    <mat-form-field>
        <input matInput placeholder="Description" [formControl]="description" name="description">
    </mat-form-field>  
    <br>  
    <mat-form-field>
        <input matInput placeholder="Area" [formControl]="area" name="area">
    </mat-form-field> 
    <br>
    <mat-form-field>
        <input matInput placeholder="Geometry WKT" [formControl]="geom" name="geom">
    </mat-form-field> 
    <!-- -->
    <br>
    <button mat-button matTooltip="Insert" mat-raised-button [disabled]="!controlsGroup.valid" (click)="insert()">Insert</button>
    <button mat-button matTooltip="Delete" (click)="insert()">Delete</button>
    <button mat-button matTooltip="Update" (click)="insert()">Update</button>
    <button mat-button matTooltip="Select" (click)="select()">Select</button>
    <button mat-button matTooltip="Select all" (click)="selectAll()">Select all</button>

    <ul>
        @for (b of l; track b.id){
            <li>id: {{b.id}}, description: {{b.description}}, area: {{b.area}}, geom: {{b.geom}}</li>
        }
    </ul>
    
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Server answers</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{serverMessage}}</mat-card-content>
      </mat-card>
</form>

